@import "partials/variables";
@import "partials/common";

.main-content-top  {
    height: 60px;
    background-color: $headingsColor;
    position: relative;
    img  {
        width: 11%;
        position: absolute;
        top: -210px;
        left: 250px;
    }
    span  {
        text-transform: uppercase;
        color: white;
        position: absolute;
    }
    .book  {
        top: -210px;
        left: 250px;
        background-color: #00a9d9;
    }
    .gallery  {
        top: 24px;
        left: 250px;
        background-color: #00a9d9;
        width: 11%;
        text-align: center;
    }
}

.main-content  {
    gap: 2.5em;
    .main-content-left {
        width: 60%;
        .price-box  {
            display: flex;
            justify-content: space-between;
        }
    }
}