@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-top {
  display: flex;
  align-items: flex-start;
  background-color: #1c1c1c;
}

.text-white {
  color: white;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.container .thumbs-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 3em 0 1.5em;
}

.container .thumbs-container .title {
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: #0282f9;
  padding: 0.7em;
  position: absolute;
  top: -4.5%;
}

.container .thumbs-container .container-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .thumbs-container .container-bottom .load {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #0282f9;
  border: none;
  padding: 0.8em 4em;
  margin-top: 2em;
  cursor: pointer;
}

.main-bottom {
  width: 100%;
  height: 150px;
  background-color: #0282f9;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
  gap: 10px;
}

.content img {
  width: 20%;
}

.content .caption {
  font-size: 0.8em;
  color: white;
}

.thumb-container {
  width: 180px;
}

.thumb-container .thumb {
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.thumb-container .thumb img {
  width: 100%;
}

.thumb-container .caption {
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
}

.main-content-top {
  height: 60px;
  background-color: #0282f9;
  position: relative;
}

.main-content-top img {
  width: 11%;
  position: absolute;
  top: -210px;
  left: 250px;
}

.main-content-top span {
  text-transform: uppercase;
  color: white;
  position: absolute;
}

.main-content-top .book {
  top: -210px;
  left: 250px;
  background-color: #00a9d9;
}

.main-content-top .gallery {
  top: 24px;
  left: 250px;
  background-color: #00a9d9;
  width: 11%;
  text-align: center;
}

.main-content {
  gap: 2.5em;
  padding-top: 3em;
  padding-bottom: 5em;
}

.main-content .main-content-left {
  width: 60%;
}

.main-content .main-content-left .price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #55ba59;
  padding: 1em;
  color: white;
}

.main-content .main-content-left .price-box button {
  background-color: #55ba59;
  color: white;
  border: none;
}

.main-content .main-content-left .caption {
  color: grey;
  line-height: 1.5em;
  padding-top: 1em;
}

.main-content .main-content-right {
  display: flex;
  flex-direction: column;
}

.main-content .main-content-right span {
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
}

